.image_wrapper{
    position: relative !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .image{
        object-fit: cover;
        overflow: hidden;
        height: 100%;
        width: 100%;

        &.svg{
                 object-fit: unset;
        }
  
    }
}