@import '../../../styles/variables.scss';
.global_container{

    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;

    transition: 300ms;
    .primarybtn_wrapper{
        background-color: $primary-color-orange;
        margin-right: -20px;
        padding-top: 2px;
        margin-top: 0px;
        height: 60px;
    }
    .sub_second_btn_wrapper{
        display: flex;
        align-items: center;
 
        @media screen and (max-width: 540px){
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 10px;
        }
    }

    @media screen and (max-width: 540px){
  
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
  
        
      
        &.is_up{
            transform: translateY(-100%);
        }

        &.is_down{
            transform: translateY(0%);
        }
 
   
    }
}

.sub_btn_global_container{
    cursor: pointer;
    padding: 0 10px;
   
    @media screen and (max-width: 540px){
        padding: 10px 10px;
    }
    .sub_btn_label{
        font-family: $font-family-title;
        font-size: 0.8rem;
        color: white;
        font-weight: 200;
        @media screen and (max-width: 540px){
            font-size: 1.2rem;
        }
    }

    &:hover{
        color: white;
        text-decoration: underline;

    }



}