@import "../../styles/variables.scss";

.global_container{
    background-color: $primary-color-blue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .btn_wrapper{
        width: fit-content;
        max-width: 400px;
    }
    .title{
        font-size: clamp(30px, 5vw, 100px);
        color: white;
        text-align: center;
        margin-bottom: 5vh;

    }
}