@import '../../../../styles/variables.scss';

.global_container{

    display: flex;
    .global_content{
        height: 2000px;
        .title{
            display: flex;
            text-align: center;
            font-size: clamp(60px, 15vw, 100px);
            font-family: $font-family-body;
            font-weight: 400;
            line-height: clamp(60px, 15vw, 100px);
            justify-content: center;
   
            p{
       
               max-width: 1000px;
            }

            em{
                font-weight: 100;
                font-size: clamp(60px, 20vw, 130px);
            }
        }

       
        .reviews_list_container{
            position: sticky !important;
            position: -webkit-sticky !important;
            width: 100vw;
            overflow: hidden;
    
    
      
            top: 15%;


            .reviews_list_tracks{
                display: flex;
                width: fit-content;
                padding-left: 15vw;
            }

        }
    }
}

.single_review_global_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(350px, 40vw, 520px);
    padding: 50px;
    .image_wrapper{
        height: clamp(150px, 15vw, 200px);
        width: clamp(150px, 15vw, 200px);
        border-radius:100%;
        overflow: hidden;
        margin-bottom: 30px;
    }

    .paragraph{
  

            font-size: 1rem;
            line-height: 1.8rem;
            font-weight: 300;
            strong{
                font-weight: 600;
           
            }
    }

    .name{
        width: 100%;
        text-align: end;
        font-size: 1rem;
        font-weight: 400;
    }
}