@import "../../styles/variables.scss";
.global_container{
    max-width: 300px;
    
    padding: 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 300ms;

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.form_wrapper{
    background-color: white;
    margin-bottom: 20px;
}

.message{
    color: white;
    &.error{
        color: rgb(248, 162, 162) !important;
    }
}

.btn_wrapper{
    margin: 10px;
    width: 200px;
}