@import './variables.scss';
html,body {
  padding: 0;
  margin: 0;
  font-family: $font-family-body;
  color: $secondary-color-dark-green;
  width: 100vw;
  scroll-behavior: smooth;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


